name: Build Docker & Update Deployment

on: push

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set-image.outputs.image_tag }}

    steps:
      - name: Checkout app repo
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Build Docker image
        run: docker build -t nginx:develop .

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: hashan95214
          password: ${{ secrets.GHCR_PAT }}

      - name: Tag Docker image
        id: set-image
        run: |
          IMAGE_TAG=ghcr.io/hashan95214/nginx-deploy:${GITHUB_SHA::7}
          docker tag nginx:develop $IMAGE_TAG
          docker push $IMAGE_TAG
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
  update-deployment:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout GitOps repo
        uses: actions/checkout@v4
        with:
          repository: Hashan95214/gitops-repo-sampath
          ref: develop
          token: ${{ secrets.GHCR_PAT }}
          path: gitops-repo

      - name: Update Deployment YAML
        run: |
          DEPLOY_FILE=gitops-repo/nginx.yaml
          IMAGE_TAG=${{ needs.build-and-push.outputs.image_tag }}

          sed -i "s|^\(\s*image:\).*|\1 $IMAGE_TAG|" $DEPLOY_FILE
          echo "Updated image to: $IMAGE_TAG"
          cat $DEPLOY_FILE

      - name: Commit and push changes
        run: |
          cd gitops-repo
          git config user.name "hashan"
          git config user.email "gunarathna.pwhm@gmail.com"
          git add nginx.yaml
          git commit -m "Update image to ${{ needs.build-and-push.outputs.image_tag }}" || echo "No changes"
          git push origin develop