name: my first job

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: remove containerd
      run: sudo apt remove -y containerd
      
    - name: install docker
      run: sudo apt install -y docker.io

    - name: actions/checkout@v4
      run: ls

    - name: read the docker file
      run: cat Dockerfile

    - name: build the image from the docker file
      run: docker build -t nginx:v4 .
      