name: my first job

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Show Docker version
        run: docker --version

      - name: Read Dockerfile
        run: cat Dockerfile

      - name: Build Docker image
        run: docker build -t nginx:develop .

      - name: Save image as artifact
        run: |
          docker save nginx:develop | gzip > nginx-develop.tar.gz

      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: nginx-image
          path: nginx-develop.tar.gz

  push:
    name: Push Image to GitHub Container Registry
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download built Docker image
        uses: actions/download-artifact@v4
        with:
          name: nginx-image

      - name: Load Docker image
        run: gunzip -c nginx-develop.tar.gz | docker load

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag Docker image for GHCR
        run: docker tag nginx:develop ghcr.io/hashan95214/gitops-repo-sampath:develop

      - name: Push Docker image to GHCR
        run: docker push ghcr.io/hashan95214/gitops-repo-sampath:develop

  update-deployment:
    name: Update Deployment YAML
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout GitOps repo
        uses: actions/checkout@v4
        with:
          repository: Hashan95214/gitops-repo-sampath
          ref: develop
          token: ${{ secrets.GITHUB_TOKEN }}
          path: gitops-repo

      - name: Replace image in deployment YAML
        run: |
          DEPLOY_FILE=gitops-repo/nginx-deployment.yaml
          IMAGE_NAME=ghcr.io/hashan95214/gitops-repo-sampath:develop
          # Replace the old image line with the new image
          sed -i "s|image:.*|image: $IMAGE_NAME|g" $DEPLOY_FILE
          cat $DEPLOY_FILE

      - name: Commit and push changes
        run: |
          cd gitops-repo
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add nginx-deployment.yaml
          git commit -m "Update image to $IMAGE_NAME"
          git push origin develop
      