name: my first job

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Show Docker version
        run: docker --version

      - name: Read Dockerfile
        run: cat Dockerfile

      - name: Build Docker image
        run: docker build -t nginx:v4 .

      