name: Build Docker & Update Deployment

on: push

jobs:
  build-and-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest


    steps:
      - name: Checkout app repo
        uses: actions/checkout@v4
        with:
          ref: develop

      - name: Show Docker version
        run: docker --version

      - name: Build Docker image
        run: docker build -t nginx:develop .

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: hashan95214              # Your GitHub username
          password: ${{ secrets.GHCR_PAT }} # Personal Access Token with write:packages, read:packages, repo

      - name: Tag Docker image with commit SHA
        run: |
          IMAGE_TAG=ghcr.io/hashan95214/nginx-deploy:${GITHUB_SHA::7}
          docker tag nginx:develop $IMAGE_TAG
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Push Docker image
        run: docker push $IMAGE_TAG

  update-deployment:
    name: Update Deployment YAML
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Checkout GitOps repo
        uses: actions/checkout@v4
        with:
          repository: Hashan95214/gitops-repo-sampath
          ref: develop
          token: ${{ secrets.GHCR_PAT }}
          path: gitops-repo

      - name: Update Deployment YAML with new image
        run: |
          DEPLOY_FILE=gitops-repo/nginx-deployment.yaml
          sed -i "s|image:.*|image: ${{ env.IMAGE_TAG }}|g" $DEPLOY_FILE
          cat $DEPLOY_FILE

      - name: Commit and push changes
        run: |
          cd gitops-repo
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add nginx-deployment.yaml
          git commit -m "Update image to ${{ env.IMAGE_TAG }}"
          git push origin develop
